@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.filters{
  padding: .5rem 3.5rem;
}
@media (min-width: 750px) {
  .filters{
    display: flex;
    width: 100%;
    justify-content: space-between;

  }
}